$theme-black: #333333;
$theme-green: #adcb0b;
$theme-gray: #eaeff3;

$primary: $theme-green;
$dark: $theme-black;

@import "./scss/bootstrap/bootstrap.scss";

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  color: $theme-black;
}

a {
  text-decoration: none;
  color: $theme-black;

  &:hover {
    color: $theme-black;
  }
}

@media screen and (min-width: map-get($grid-breakpoints, "md")) {
  .woocommerce {
    min-height: 500px;
  }
}

@import "./scss/header.scss";
@import "./scss/footer.scss";
@import "./scss/products.scss";
@import "./scss/checkout.scss";
@import "./scss/home.scss";
@import "./scss/single.scss";
@import "./scss/cart.scss";
