.woocommerce {
  .checkout-button {
    background-color: $theme-green !important;
  }
}

.form-row.woocommerce-invalid .chzn-single,
.form-row.woocommerce-invalid .chzn-drop,
.form-row.woocommerce-invalid input.input-text,
.form-row.woocommerce-invalid select {
  border: 1px solid red;
}
.form-row.woocommerce-validated .chzn-single,
.form-row.woocommerce-validated .chzn-drop,
.form-row.woocommerce-validated input.input-text,
.form-row.woocommerce-validated select {
  border: 1px solid $theme-green;
}
