footer {
  padding: 20px;
}

.sidebar-footer {
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    a {
      color: white;
    }
  }
}

@media screen and (min-width: map-get($grid-breakpoints, "lg")) {
  .sidebar-footer {
    ul {
      li {
        padding-top: 10px;
      }
    }
  }
}
